1. Pandas/ Numpy

In [1]:
import numpy as np

def add_column(arr, col):
    '''Return a numpy array containing arr with col added as a final column.
    You can assume that the number of rows in arr is the same as the length
    of col.

    Parameters
    ----------
    arr: NumPy Array (2-dimensional)
    col: NumPy array

    Returns
    -------
    NumPy Array (2-dimensional)

    >>>add_column(np.array([[1, 2], [3, 4]]), np.array([5, 6)))
    np.array([[1, 2, 5], [3, 4, 6]])
    '''
    result = np.column_stack((arr, col)) 
    
    return result

2. Pandas/ Numpy

In [ ]:
def only_positive(arr):
    '''Return a numpy array containing only the rows from arr where all
    the values in that row are positive.
    USE NUMPY METHODS, AVOID USING A FOR-LOOP.

    Parameters
    ----------
    arr: NumPy Array (2-dimensional)

    Returns
    -------
    NumPy Array (2-dimensional)

    >>>np.array([[1, -1, 2],
                    [3, 4, 2],
                    [-8, 4, -4]])
    np.array([[3, 4, 2]])
    '''

3. Python/ Pandas

In [ ]:
import pandas as pd

def make_series(start, length, index):
    '''Create a pandas Series of length "length" with index "index"
    and with elements that are sequential integers starting from "start".
    You may assume the length of index will be "length".

    Parameters
    ----------
    start, length: int, int
    index: list
        Index of length "length"

    Returns
    -------
    Pandas Series

    >>>print(make_series(5, 3, ['a', 'b', 'c']))
    a    5
    b    6
    c    7
    dtype: int64
    '''
    data = [i for i in range(start,(start + length)) ]
    ser = pd.Series(data, index=index)
    return ser

SQL Challenges
For the following SQL challenges you will use two tables in the database with these columns:

rent: Neighborhood, City, State, med_2011, med_2014
buy: Neighborhood, City, State, med_2011, med_2014
The values in the med_2011/med_2014 columns are integers corresponding to the price on that date.

If you would like to test your query locally, download either database file: housing.sql  for postgreSQL or housing.sqlite  for sqlite3.

Instructions for ingesting database files are available here  .

4. SQL

In [ ]:
'''Return a SQL query that gives the number of neighborhoods in each city according to the rent table. 
Keep in mind that city names are not always unique unless you include the state as well, 
so your result should have these columns (though you do not need to name them): city, state, neighborhood_count
'''
SELECT city, state, COUNT(neighborhood)
FROM rent
GROUP BY rent.city, rent.state

5. SQL #2

In [ ]:
'''Return a SQL query that gives the 5 San Francisco neighborhoods with the highest rent increase between 2011 and 2014.

NOTE: You will have to deal with missing values for the rent. The test looks for the neighborhoods with 
the highest rent increases, so neighborhoods where the amount of the increase is unknown should be excluded.
'''
SELECT rent.neighborhood
FROM rent
WHERE rent.city = 'San Francisco' and rent.med_2014 is not null
ORDER BY med_2011, med_2014
LIMIT 5

6. SQL #3

In [ ]:
'''Return a SQL query that gives the rent price and buying price for 2014 for all the neighborhoods in San Francisco. 
Your result should have these columns (though you do not need to name them): neighborhood, rent, buy
'''
SELECT neighborhood, rent.med_2014, buy.med_2014
FROM rent
FULL OUTER JOIN buy ON city, state
WHERE neighborhood = 'San Francisco'

7. Mongo

a) In terms of organization of the data in the database, how are Mongo and SQL different? (2 pts)


b) Give an example of data that is likely better handled by Mongo than SQL. (1 pt)

8. Big Data

What is Big Data?

9. Big Data #2

What is an RDD in Spark? How is a Spark Dataframe different?

10. Big Data #3

What is Lazy Evaluation in Spark and why does it occur?

11. Run TIme

Estimate the running time for the following functions (1pt each):

a)

def f(n):
    i = 0
    while i < n:
        j = 0
        while j < n:
            print(str(i) + ", " + str(j))
            j += 1
        i += 1
b)

def f(n):
    i = 1
    while i < n:
        i *= 2
        print(i)
c)

def do_something_else(n):
    print("My name is Inigo Montoya")